/* цвет текста заголовков #212121 */
/* цвет текста абзацев #757575 */
/* синий для оформления #2196F3 */

/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* белый #FFFFFF */
/* цвет телефона и maila в футере rgba(255, 255, 255, 0.6); */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
.body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.body .logo-header {
  color: #000000;
}
/* <!-- navigation section--> */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* <!-- contacts section--> */
.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  cursor: pointer;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* features */
.features .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-desc {
  font-size: 14px;
  line-height: 1.71;
}
/* Team */
.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.footer {
  background-color: #2f303a;
}

.footer .logo-footer {
  color: var(--primary-white-color);
}

.contacts .address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contacts .address:hover,
.contacts .address:focus {
  color: var(--primary-white-color);
}

/* Стили для Портфолио */
.portfolio .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.contacts .actual {
  color: var(--primary-white-color);
}

.portfolio .subtitle {
  font-size: 16px;
  line-height: 1.87;
}

.filters-button {
  cursor: pointer;
  font-family: inherit;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.filters-button:hover,
.filters-button:focus {
  cursor: pointer;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
